@font-face {
  font-family: 'CalibreR';
  src: url('../fonts/Calibre-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreB';
  src: url('../fonts/Calibre-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreL';
  src: url('../fonts/Calibre-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

body{
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 100vh;  
}

header{

}
  
.Intro{
  font-family: 'CalibreB';
  font-size: 40px;
  text-align: center;
}

.Column1{
  grid-column: 1;
  grid-row: 3;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;

  .img1{
    max-height: 285px;
    max-width: 285px; 
  }

  .Square1{
    background-color: gainsboro;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Column1:hover{
  background-color: #799DAB;
  transition: all 0.1s ease-in-out;
}

.Column2{
  grid-column: 2;
  grid-row: 3;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;


  .img2{
    max-height: 430px;
    max-width: 430px;
  }

  .Square2{
    background-color: gainsboro;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Column2:hover{
  background-color: #799DAB;
  transition: all 0.1s ease-in-out;
}

.Column3{
  grid-column: 3;
  grid-row: 3;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;


  .img3{
    max-height: 400px;
    max-width: 400px; 
  }

  .Square3{
    background-color: gainsboro;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Column3:hover{
  background-color: #799DAB;
  transition: all 0.1s ease-in-out;
}