body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
   
}
p
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none; 
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}
.logomain
{
    width: 180px;
    height: 60px;
}
.buttonflag
{
    padding: 0;             
    border: none;           
    background: none;       
    cursor: pointer;       
    width: 40px;            
    height: 34px;           
    overflow: hidden; 
}
.backroundimagemaindiv
{
    background-image: url(../images/backimagemain.png);
    background-size: 100% 100%;  
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}
.headerdivmain
{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}
.headerbuttons
{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.headertextposition
{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.solutiontext
{
    font-weight: 600;
    margin-top: 7rem;
    font-size: 75px;
    
}
.headerlowertextposition
{
    font-weight: 600;
    margin-top: 3rem;
    font-size: 40px;
}
.dotsdiv
{
    border-radius: 12px;
    background-color: #799DAB;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60px;
}
.solutiondiv
{
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #C7EAF8;
}
.headerceanterbuttons
{
    margin-top: 10rem;
    padding-bottom: 20rem;
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}
.dotstext
{
    color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 24px;
}
.headerbuttonsleftmargin
{
    margin-left: 2rem;
}
.solutionstext
{
    font-size: 24px;
    padding-left: 2rem;
    padding-right: 2rem;
    color:#000000;
}
.bottomdiv
{
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}
.introducingtext
{
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-column: 2/3;
    display: grid;
    place-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 64px;
    align-items: center;
}
hr
{
    background-color: #D9D9D9;
    width: 100%;    
    height: 2px;
    grid-column: 2/3;
}
.bottomblocksdiv
{
    margin-top: 5rem;
    margin-bottom: 5rem;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
}
.bottomblock
{
    width: 20%;
    padding: 3rem;
    background-color: #799DAB;
    display: grid;
    place-items: center;
    border-radius: 12px;
}
.bottomblocktext
{
    font-weight: 500;
    font-size: 24px;
}
.bottomtext
{
    font-size: 32px;
    font-weight: 500;
    display: grid;
    place-items: center;
    grid-column: 2/3;
}
.bottomtextmargin
{
    margin-bottom: 5rem;
    margin-top: 1rem;
}
.copyright
{
    grid-column: 2/3;
    display: flex;
    justify-content: end;
}
.copyrighttext
{
    display: grid;
    place-items: center;
    color: #799DAB;
    font-weight: 500;
    font-size: 12px;
}

@media (max-width: 800px)
{
    a
    {
        font-size: 12px;
    }
    .copyrighttext
    {
        font-size: 6px;
    }
    .bottomtext
    {
        font-size: 16px;
    }
    .bottomblocktext
    {
        font-size: 12px;
    }
    .introducingtext
    {
        font-size: 32px;
    }
    .bottomblocksdiv
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }
    .solutiontext
    {
        font-size: 30px;
        margin-top: 2rem;
    }
    .bottomblock
    {
        padding: 1rem;
    }
    .bottomimg
    {
        width: 40%;
    }
    .flagimg
    {
        width: 100%;
        height: 100%;
    }
    .buttonflag
    {
        width: 20px;
        height: 15px;
    }
    .solutionstext
    {
        font-size: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .dotstext
    {
        font-size: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .headerdivmain
    {
        grid-template-columns: 1fr 1fr;
    }
    .headerlowertextposition
    {
        font-size: 20px;
        margin-top: 1rem;
    }
    .headerbuttonsleftmargin
    {
        margin: 0;
    }
    .headerceanterbuttons
    {
        display: grid;
        grid-template-columns: 0.3fr 0.3fr;
        margin-top: 3rem;
        padding-bottom: 5rem;
        gap: 1rem;
    }
    .logomain
    {
        width: 100px;
        height: 40px;
    }
    .introducingtext
    {
        font-size: 16px;
    }
    .copyrightimg
    {
        width: 3%;
    }
}
