
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Calibre';
}
body {
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    overflow: hidden;
}

@font-face {
  font-family: 'Calibre';
  src: url('/CircleSolutions/fonts/Calibre-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/CircleSolutions/fonts/Calibre-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/CircleSolutions/fonts/Calibre-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

.text404{
    display: flex;
    width: 581px;
    height: 420px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #96969680;
    text-align: center;
    text-shadow: 0 4px 25px #ffffff81;
    font-size: 11rem;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    position: absolute;
    top: 70px;
    right: 10px;
}

.notFound{
    display: flex;
    justify-content: flex-end;
    width: 650px;
    height: 120px;
    flex-shrink: 0;
    color: #96969680;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 300px;
    right: 30px;
}

.homeMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 60px;
    flex-shrink: 0;
    color: #ffffff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    left: 100px;
    bottom: 100px;
}

.homeMessage a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    transition: color 0.3s ease;
}

.homeMessage a:hover {
    color: #789cab;
}

.copyRightDots{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 110;
}

.copyRightImg {
    height: 32px;
    width: auto;
}

.copyRightText{
    margin: 0;
    color: #22313f;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

@media (max-width: 800px)
{

    .homeMessage{
        font-size: 1rem;
        width: 300px;
        height: 40px;
        left: 10px;
    }

    .notFound{
        width: 300px;
        height: 60px;
        font-size: 2rem;
        top: 150px;
        right: 0;
    }

    .text404{
        width: 300px;
        height: 200px;
        font-size: 6rem;
        top: 125px;
        right: 0;
    }
}