*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: 'calibreR';
  src: url('../../fonts/Calibre-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'calibreB';
  src: url('../../fonts/Calibre-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'calibreL';
  src: url('../../fonts/Calibre-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
p,
a {
  color: #f3f3f3;
}

<<<<<<< HEAD
h1 {
=======
h2, p{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h1{
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  font-size: 2.5rem;
  font-family: "calibreB";
}

h2 {
  font-size: 2rem;
  font-family: "calibreR";
}

p,
a {
  font-family: "calibreL";
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

<<<<<<< HEAD
img {
=======
.allImg{
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  box-shadow: 10px 10px hsla(197, 23%, 57%, 0.15);
}

body {
  color: black;
  margin: 30px;
<<<<<<< HEAD
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 90%), url(../../images/brian-cyan-K3qvZKTejS0-unsplash.jpg);
=======
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 30%, rgba(0,0,0,0) 90%), url(../../images/brian-cyan-K3qvZKTejS0-unsplash.jpg);
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

<<<<<<< HEAD
header {
  border: 0;
}

.allPage {
=======
main{
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

<<<<<<< HEAD
.topText {
  grid-column: 2;
  text-align: center;
  margin-top: 100px;
}

.intro {
  margin-bottom: 0;
=======
.topText{
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
}

hr {
  border: 2px solid white;
  width: 10%;
  margin-bottom: 40px;
}

.postLeft {
  grid-column: 1;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

<<<<<<< HEAD
.description {
  padding-bottom: 1.3rem;
}

.imgLeft {
=======
.imgLeft{
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  max-width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

<<<<<<< HEAD
.squareLeft {
  background-color: #1f3c47;
=======
.squareLeft{
  background-color: #557c8c;
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  min-height: 50px;
  min-width: 150px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postLeft:hover {
  background-color: #799DAB;
  transition: all 0.1s ease-in-out;
}

.postCenter {
  grid-column: 2;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgCenter {
  max-width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

<<<<<<< HEAD
.squareCenter {
  background-color: #1f3c47;
=======
.squareCenter{
  background-color: #557c8c;
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  min-height: 50px;
  min-width: 150px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postCenter:hover {
  background-color: #799DAB;
  transition: all 0.1s ease-in-out;
}

.postRight {
  grid-column: 3;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgRight {
  max-width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

<<<<<<< HEAD
.squareRight {
  background-color: #1f3c47;
=======
.squareRight{
  background-color: #557c8c;
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
  min-height: 50px;
  min-width: 150px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postRight:hover {
  background-color: #799DAB;
  transition: all 0.1s ease-in-out;
<<<<<<< HEAD
}

@media (max-width: 800px) {
  img {
    max-width: 60%;
  }

  h1,
  h2,
  p,
  a {
    font-size: 1.5rem;
  }
=======
>>>>>>> 54460735dfbdc190e728e7df2bcf273427a0acfa
}