*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: 'calibreR';
  src: url('../../fonts/Calibre-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'calibreB';
  src: url('../../fonts/Calibre-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'calibreL';
  src: url('../../fonts/Calibre-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

h1, h2, p, a{
  color: #f3f3f3;
}

h2, p{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h1{
  font-size: 2.5rem;
  font-family: "calibreB";
}

h2{
  font-size: 2rem;
  font-family: "calibreR";
}

p, a{ 
  font-family: "calibreL";
  font-size: 1.5rem;
}

a{
  text-decoration: none;
}

.allImg{
  box-shadow: 10px 10px hsla(197, 23%, 57%, 0.15);
  max-width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover; 
}

body{ 
  color: black;
  margin: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 30%, rgba(0,0,0,0) 90%), url(../../images/blogs/brian-cyan-K3qvZKTejS0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}

.topText{
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr{
  border: 2px solid white;
  width: 7%;
  margin-bottom: 40px;
}

.post{
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postLeft{
  grid-column: 1;
}

.square{
  background-color: #557c8c;
  min-height: 50px;
  min-width: 150px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postLeft:hover{
  background-color: #799dab;
  transition: all 0.1s ease-in-out;
}

.postCenter{
  grid-column: 2;
}

.postCenter:hover{
  background-color: #799dab;
  transition: all 0.1s ease-in-out;
}

.postRight{
  grid-column: 3;
}

.postRight:hover{
  background-color: #799dab;
  transition: all 0.1s ease-in-out;
}

.copyRightDots{
	grid-column: 3;
	display: flex;
  flex-direction: row;
	justify-content: end;
}

.copyRightText{
	display: grid;
	place-items: center;
	color: #799dab;
	font-weight: 500;
	font-size: 1rem;
  padding-top: 30px;
}