* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Calibre';
	src: url('../../fonts/Calibre-Semibold.otf') format('opentype');
}

body {
	font-family: 'Calibre';
	background-color: #181a1b;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000000;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.headerdiv {
	padding-top: 3rem;
	display: flex;
	gap: 1rem;
	margin-right: 5rem;
	justify-content: end;
}

.headertext {
	margin-top: 10rem;
	color: #c7eaf8;
	font-size: 6rem;
	font-weight: bold;
	display: grid;
	place-items: center;
}

.headerhr {
	width: 91%;
	color: #d9d9d9;
}

.maindiv {
	display: grid;
	grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
	margin-top: 5rem;
}

.centraldiv {
	background-image: url(../../images/aboutUs/backimageaboutus.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 580px;
	grid-column: 2/5;
	z-index: 2;
}

.faqbutton{
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.faq-button {
	color: white;
	background-color: #799dab;
	border-radius: 6px;
	padding: 12px 14px;
}

.centralblock {
	width: 200%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 113%;
	height: 70%;
	transform: translateX(-7%);
}

.centralblockmargin {
	margin-left: 2rem;
}

.centralblockdiv {
	margin-top: 3rem;
	border-radius: 12px;
	background-color: rgba(199, 234, 248, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.centralblocktext {
	font-size: 1.5rem;
	font-weight: bold;
	color: #ffffff;
	display: grid;
	place-items: center;
}

.centralblockimg1 {
	width: 40%;
}

.centralblockimg2 {
	width: 30%;
}

.centralblockimg3 {
	width: 45%;
}

.centralblocktexthighermargin {
	margin-top: 1rem;
}

.centralblocktextlowermargin {
	margin-top: 2rem;
}

.centralblockbottomtext {
	font-weight: 500;
	font-size: 2rem;
	color: #ffffff;
	display: grid;
	place-items: center;
	z-index: 1;
	margin-top: 2rem;
}

.bottomdivone {
	margin-top: 5rem;
	grid-column: 2/3;
}

.bottomblocksdivtwo {
	margin-top: 5rem;
	grid-column: 4/5;
}

.bottomhr {
	grid-column: 3/4;
	width: 1px;
	color: #d9d9d9;
	height: 100%;
	margin: 0 auto;
	margin-top: 4rem;
}

.bottombluetext {
	color: #c7eaf8;
	font-weight: bold;
	font-size: 2.25rem;
	display: grid;
	place-items: center;
}

.bottomtext {
	margin-top: 3rem;
	line-height: 1.8;
	text-indent: 2em;
	display: grid;
	place-items: center;
	color: #ffffff;
	font-weight: 500;
	font-size: 1.75rem;
}

.copyrightabout {
	grid-column: 4/5;
	display: flex;
	justify-content: end;
}

.copyrighttext {
	display: grid;
	place-items: center;
	color: #799dab;
	font-weight: 500;
	font-size: 0.75rem;
	padding-top: 10px;
}

@media (max-width: 800px) {

	.centralblock {
		margin-top: 1rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: none;
		width: 100%;
		height: 65%;
	}

	.centralblockdiv {
		height: 30%;
		width: 60%;
	}

	.centralblockimg1 {
		width: 30%;
	}

	.centralblockimg2 {
		width: 23%;
	}

	.centralblockimg3 {
		width: 25%;
	}

	.centralblocktext {
		font-size: 0.75rem;
	}

	.centralblocktextlowermargin {
		margin: 10px;
	}

	.centralblockbottomtext {
		font-size: 1rem;
		margin-top: 0;
	}

	.highermobilemargintext {
		margin-top: 5rem;
	}

	.lovermobilemargintext {
		margin-top: 1rem;
	}

	.bottombluetext {
		font-size: 1.125rem;
	}

	.bottomtext {
		font-size: 0.875rem;
	}
}