@font-face {
  font-family: 'Calibre';
  src: url('../../fonts/Calibre-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../../fonts/Calibre-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../../fonts/Calibre-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Calibre';
    background-color: lightblue;
    z-index: 998;
    
}

.main{
    background-color: #181a21;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cookie{
    height: 150px;
    margin: 50px;
    margin-left: 100px;
}

.text{
    font-size: 2rem;
    max-width: 420px;
    margin-left: 60px;
}

.buttons{   
    display: flex;
    justify-content:space-around;
    width: 1100px;
    align-items: center;

}

.but{
    font-size: 2rem;
    background-color: #D9D9D9;
    padding: 16px 18px;
    padding-bottom: 12px;
    border-radius: 12px;
    transition: background-color 0.8s, opacity 0.5s;
    
}

.but:hover{
    background-color: #C7EAF8;
    cursor: pointer;
}

.but:active{
    opacity: 0.5;

}
@media(max-width:800px)
{
    .text{
        font-size: 1rem;
        margin-left: 32px;
        max-width: 260px;
    }

    .main{
        width: 800px;
    }
    .buttons{
        width: 600px;
        padding-right: 0;
    }

    .but{
        font-size: 1.2rem;
        padding: 18px 16px;
        padding-bottom: 12px;
    }
    
    .cookie{
        height: 110px;
        margin-left: 30px;
        padding-right: 0;
        margin-right: 0;
    }
    
}

@media(max-width:400px)
{
    .text{
        font-size: 1.2rem;
        margin: 0;
        padding: 0 8px;
        text-align: left;
    }

    .main{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        padding: 6px;
        box-sizing: border-box;
    }

    .second{
        display: flex;
        justify-content: center;
        gap: 6px;
        height: 130px;
    }

    .cookie{
        height: 80px;
        margin: 5px;
    }

    .buttons{
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .but{
        font-size: 1rem;
        padding: 10px 12px;
        padding-bottom: 8px;
    }
}


