* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Calibre';
	src: url('../../fonts/Calibre-Semibold.otf') format('opentype');
}

body {
	font-family: 'Calibre';
	background-color: #181a1b;

}

p {
	font-family: 'Calibre';
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	/* 24px */
	font-weight: bold;
}

.logomain {
	width: 180px;
	height: 60px;
}

.buttonflag {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.backroundimagemaindiv {
	margin-top: 35px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.8) 100%), url(../../images/mainPage/pic_i2.webp);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 0.5fr 5fr 0.5fr;
}

.headertextposition {
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	color: #FFFFFF;
}

.solutiontext {
	font-weight: 600;
	margin-top: 7rem;
	font-size: 4.6875rem;
	/* 75px */
}

.headerlowertextposition {
	font-weight: 600;
	margin-top: 3rem;
	font-size: 2.5rem;
	/* 40px */
}

.dotsdiv {
	border-radius: 12px;
	background-color: #678895;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.solutiondiv {
	height: 60px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C7EAF8;
}

.headerceanterbuttons {
	margin-top: 10rem;
	padding-bottom: 20rem;
	display: flex;
	justify-content: center;
	grid-column: 2/3;
}

.dotstext {
	color: #FFFFFF;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.5rem;
	/* 24px */
}

.headerbuttonsleftmargin {
	margin-left: 2rem;
}

.solutionstext {
	font-size: 1.5rem;
	/* 24px */
	padding-left: 2rem;
	padding-right: 2rem;
	color: white;
}

.bottomdiv {
	display: grid;
	grid-template-columns: 0.5fr 5fr 0.5fr;
}

.introducingtext {
	margin-top: 3rem;
	margin-bottom: 3rem;
	grid-column: 2/3;
	display: grid;
	place-items: center;
	color: white;
	font-weight: bold;
	font-size: 4rem;
	/* 64px */
	align-items: center;
}

hr {
	background-color: white;
	width: 100%;
	height: 2px;
	grid-column: 2/3;
}

.bottomblocksdiv {
	margin-top: 5rem;
	margin-bottom: 5rem;
	grid-column: 2/3;
	display: flex;
	justify-content: space-between;
}

.bottomblock {
	width: 20%;
	padding: 3rem;
	background-color: #799DAB;
	display: grid;
	place-items: center;
	border-radius: 12px;
}

.bottomblocktext {
	font-weight: 500;
	font-size: 1.5rem;
	/* 24px */
	color: white;
	text-align: center;
}

.bottomtext {
	font-size: 2rem;
	/* 32px */
	font-weight: 500;
	display: grid;
	place-items: center;
	grid-column: 2/3;
	color: white;
	margin-top: 20px;
}

.bottomtextmargin {
	margin-bottom: 5rem;
	margin-top: 1rem;
}

.copyright {
	grid-column: 2/3;
	display: flex;
	justify-content: end;
}

.copyrighttext {
	display: grid;
	place-items: center;
	color: #799DAB;
	font-weight: 500;
	font-size: 12px;
	margin-top: 6px;
	font-size: 0.75rem;
	/* 12px */
}


/* ---------- RESPONSIVE ---------- */

@media (max-width: 800px) {
	.headerdivmain {
		padding: 0 10px;
		width: 100%;
	}

	a {
		font-size: 0.75rem;
		/* 12px */
	}

	.copyrighttext {
		font-size: 0.375rem;
		/* 6px */
	}

	.bottomtext {
		font-size: 1rem;
		/* 16px */
	}

	.bottomblocktext {
		font-size: 0.75rem;
		/* 12px */
	}

	.introducingtext {
		font-size: 2rem;
		/* 32px */
	}

	.bottomblocksdiv {
		display: inline-grid;
		grid-auto-flow: row;
		gap: 2rem;
		width: max-content;
		margin: 5rem auto;
		justify-content: center;
	}

	.solutiontext {
		font-size: 1.875rem;
		/* 30px */
		margin-top: 2rem;
	}

	.bottomblock {
		border-radius: 12px;
		padding: 1rem;
		display: grid;
		place-items: center;
		text-align: center;
		width: auto;
	}

	.bottomimg {
		width: 40%;
	}

	.flagimg {
		width: 100%;
		height: 100%;
	}

	.solutionstext {
		font-size: 0.625rem;
		/* 10px */
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.dotstext {
		font-size: 0.625rem;
		/* 10px */
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.headerdivmain {
		grid-template-columns: 1fr 1fr;
	}

	.headerlowertextposition {
		font-size: 1.25rem;
		/* 20px */
		margin-top: 1rem;
	}

	.headerbuttonsleftmargin {
		margin: 0;
	}

	.headerceanterbuttons {
		display: flex;
		margin: 0 auto;
		margin-top: 3rem;
		padding-bottom: 5rem;
		gap: 1rem;
	}

	.logomain {
		width: 100px;
		height: 40px;
	}

	.introducingtext {
		font-size: 1rem;
		/* 16px */
	}

	.copyrightimg {
		width: 3%;
	}
}